<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;500&family=Play&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="./style.css">
    <title>Template 01</title>
</head>
<body>
    <nav>
        <img src="./images/logo.jpeg" alt="logo image goes here">
        <a href="#section_03">section 03</a>
        <a href="#section_02">section 02</a>
        <a href="#section_01">section 01</a>
    </nav>

    <div class="main">
        <section id="section_01">
            <div class="overlayText">
                <h2>section 01</h2>
                <h4>more overlay text goes here</h4>
            </div>
        </section>

        <section id="section_02">
            <div class="header">   
                <h2>section 02</h2>
                <h4>five flexbox thingies</h4>
            </div>
            <div class="items">
                <div class="item">
                    <img src="./images/section_02_01.jpeg" alt="item 01 image">
                    <h4>item 01</h4>
                </div>
                <div class="item">
                    <img src="./images/section_02_02.jpeg" alt="item 02 image">
                    <h4>item 02</h4>
                </div>
                <div class="item">
                    <img src="./images/section_02_03.jpeg" alt="item 03 image">
                    <h4>item 03</h4>
                </div>
                <div class="item">
                    <img src="./images/section_02_04.jpeg" alt="item 04 image">
                    <h4>item 04</h4>
                </div>
                <div class="item">
                    <img src="./images/section_02_05.jpeg" alt="item 05 image">
                    <h4>item 05</h4>
                </div>
            </div>
        </section> 

        <section id="section_03">
            <div class="header">
                <h2>section 03</h2>
                <h4>three flexbox thingies in a centered / aligned row</h4>
            </div>

            <div class="items">
                <div class="item">
                    <h3>section 03 item 01</h3>
                    <h4>section 03 item 01</h4>
                    <h4>section 03 item 01</h4>
                    <h4>section 03 item 01</h4>
                </div>
                <div class="item">
                    <h3>section 03 item 02</h3>
                    <h4>section 03 item 02</h4>
                    <h4>section 03 item 02</h4>
                    <h4>section 03 item 02</h4>
                </div>
                <div class="item">
                    <h3>section 03 item 04</h3>
                    <h4>section 03 item 04</h4>
                    <h4>section 03 item 04</h4>
                    <h4>section 03 item 04</h4>
                </div>
            </div> 
        </section>

        <footer>
            <h2>theName</h2>
            <h5>theEmail</h5>
            <h5>thePhoneNumber</h5>
        </footer>
        
        <h5 class="copyright">copyright theName 202x</h5>
    </div>
</body>
</html>