/* VARIABLES */
:root {
    --lightgray: lightgray;
    --cornerRounding: 7px;
    --opacityHi: 0.5;
    --opacityMed: 0.65;
    --opacityLo: 0.8;
    --outerBorder: 3px double black;
    --innerBorder: 3px double silver;
}

/* START */
html {
    /* font-family: Arial, Helvetica, sans-serif;  */
    font-family: Play, "M PLUS 1p";
    font-size: 18px;
    font-weight: 500;
    color: seashell;
    background-color: var(--lightgray);

    margin: 0;
    padding: 0;
}

.main {
    width: 90%;
    margin: auto;
}

/* NAV */
nav {
    position: fixed;
    background-color: var(--lightgray);
    height: 75px;
    width: 99%;
    z-index: 1;
    top: 0;
}
nav img {
    float: left;
    vertical-align: center;
    height: 50px;
    margin: 10px;
}
nav a {
    float: right;
    vertical-align: top;
    margin-right: 20px;
    line-height: 75px;   /* if you want it vertically middle of the navbar */
    color: darkblue;
    text-decoration: none;
}

/* SECTION */

/* we want all sections to be flexboxes */
section {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: 100%;
    border: var(--outerBorder);
    border-radius: var(--cornerRounding);
    margin-bottom: 10px;
}

/* SECTION_01 */
#section_01 {
    margin-top: 75px;
    height: 500px;
    background-image: url('./images/section_03_background.jpeg');
}

#section_01 .overlayText {
    margin: auto;
    background-color: black;
    width: 75%; 
    border: var(--innerBorder);
    border-radius: var(--cornerRounding);
    opacity: var(--opacityMed);
} 

/* SECTION_02 */

#section_02 {
    /* inherit flex from section tag/class */
    padding-bottom: 50px;
    background-color: lightskyblue;
    opacity: 0.85;
}

#section_02 .header {
    margin-top: 10px;
    text-align: center;
    width: 100%;
}

#section_02 .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#section_02 .item {
    padding: 20px;
    border-radius: 25px;
}

#section_02 .item img {
    margin: auto;
    width: 300px;
    height: 200px;
    border: var(--innerBorder);
    border-radius: var(--cornerRounding);
}

#section_02 .item h4 {
    padding: 5px;
    min-width: 240px;
    font-weight: bold;
    text-align: center;
}

#section_02 .infoPanel{
    display: none;
    background-color: lightcoral;
    border: var(--innerBorder);
    width: 200px;
    height: 200px;
    z-index: 2;
}
/* SECTION_03 */

#section_03 {
    /* inherit flexbox from section tag/class */
    padding-bottom: 50px;
    background-image: url('./images/section_03_background.jpeg');
    background-size: cover;
}   

#section_03 .header {
    text-align: center;
    width: 100%;
}

#section_03 .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    opacity: var(--opacityMed);
}

#section_03 .items .item {
    padding: 20px;
    margin: 20px 20px;
    width: 300px;
    color: white;
    background-color: black;
    border: var(--innerBorder);
    border-radius: var(--cornerRounding);
}

/* FOOTER */

footer {
    background-color: rgb(186, 221, 245);
    color: darkblue;
    height: 150px;
    padding: 20px;
    text-align: center; 
    border: var(--outerBorder);
    border-radius: var(--cornerRounding);
    margin-bottom: 10px;
    opacity: var(--opacityHi);
}

footer h2, h5 {
    top: 10px;
    margin-top: 0px;
}

.copyright {
    background-color: lightsteelblue;
    color: rgb(13, 110, 236);
    padding: 30px;
    text-align: left;
    border: var(--outerBorder);
    border-radius: var(--cornerRounding);
    opacity: var(--opacityHi);
}