html {
    /* font-family: Arial, Helvetica, sans-serif;  */
    font-family: "M PLUS 1p", Play;
    font-size: 18px;
    font-weight: 500;
    color: seashell;
    background-color: black;

    margin: 0;
    padding: 0;
}

/* NAV */
nav {
    position: fixed;
    background-color: lightgray;
    /* margin: 0 auto; */
    height: 75px;
    width: 100%;
    z-index: 1;
    top: 0;
}

nav img {
    float: left;
    vertical-align: center;
    height: 50px;
    margin: 10px;
}

nav a {
    float: right;
    vertical-align: top;
    margin-right: 20px;
    line-height: 75px;   /* if you want it vertically middle of the navbar */
    color: darkblue;
    text-decoration: none;
}

/* SECTION */

/* we want all sections to be flexboxes */
section {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: 100%;
}

/* SECTION_01 */
#section_01 {
    margin-top: 75px;
    height: 500px;
    background-image: url('./images/section_03_background.jpeg');
}

#section_01 .overlayText {
    margin: auto;
    background-color: black;
    width: 100%; 
} 

/* SECTION_02 */

#section_02 {
    /* inherit flex from section tag/class */
    padding-bottom: 50px;
    background-color: lightskyblue;
}

#section_02 .header {
    margin-top: 10px;
    text-align: center;
    width: 100%;
}

#section_02 .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#section_02 .item {
    padding: 20px;
}

#section_02 .item img {
    margin: auto;
    width: 300px;
    height: 200px;
}

.section_02_item h4 {
    padding: 5px;
    min-width: 240px;
    font-weight: bold;
    text-align: center;
}

/* SECTION_03 */

#section_03 {
    /* inherit flexbox from section tag/class */
    padding-bottom: 50px;
    background-image: url('./images/section_03_background.jpeg');
    background-size: cover;
}   

#section_03 .header {
    text-align: center;
    width: 100%;
}

#section_03 .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

#section_03 .items .item {
    padding: 20px;
    margin: 20px 20px;
    width: 300px;
    color: white;
    background-color: black;
}

/* FOOTER */

footer {
    background-color: lightgray;
    height: 150px;
    padding: 20px;
    text-align: center; 
}

footer h2, h5 {
    top: 10px;
    margin-top: 0px;
}

.copyright {
    background-color: lightsteelblue;
    padding: 30px;
    text-align: left;
}